.skill-tech{
    display: flex;
    font-family: Chakra Petch;
    color: #FFF;
    font-size: 25px;
    padding-left: 25%;
}

.skill-tech .icon{
    margin-right: 25px;
    
    
}

.skill-tech img{
    height: 90px;
    width: 90px;
}

.skill-tech .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }