h1 { 
    display: inline-block;   
    justify-content: center;
    /* background-color: #383732; */
    margin-bottom: 0;
    font-family: Chakra Petch, sans-serif;
    color: tomato;
    font-size: 40px;
    text-shadow: 4px 4px 1px #000;
    
}